 .ant-layout-sider{
  background-color: #fffffc;
  color: #545454;
  flex: 0 0 auto !important;
  max-width: none !important;
  min-width: 10px !important;
  width: 280px  !important;
  overflow: hidden;
}